<footer class="border-t py-4">
    <div class="max-w-xl mx-auto px-4">
        <p class="italic">made with love by</p>
        <h5 class="text-xl font-bold">Samuel Pita</h5>
        <p class="italic">Copyright 2025 - Assignment 2</p>
    </div>
</footer>
