<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Page</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <main class="max-w-xl mx-auto *:px-4 *:not-last:mb-4">
            <div>
                <form
                    action="/admin"
                    method="get"
                    class="*:*:p-2 *:flex *:divide-x divide-y border rounded"
                >
                    <div>
                        <input
                            type="text"
                            name="username"
                            placeholder="Search user"
                            class="w-full"
                        />
                        <button type="submit" class="min-w-max flex items-center gap-2">
                            <span>Search User</span>
                            <img src="icons/search.svg" class="size-6" />
                        </button>
                    </div>
                    <div>
                        <label for="limit" class="min-w-max">Limit</label>
                        <input
                            type="number"
                            name="limit"
                            class="w-full"
                            min="1"
                            max="100"
                            value="10"
                        />
                    </div>
                </form>
            </div>
            <!-- prettier-ignore -->
            <div>
                <% if (users) { %>
                    <div class="border divide-y rounded">
                        <% users.forEach((user) => { %>
                            <%- include("partials/userCard", { user }) %>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>
