<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <%- include("partials/header", { user }) %>

        <main class="max-w-xl mx-auto my-16 px-4 *:not-last:mb-4">
            <h1 class="text-4xl font-bold">Members page!</h1>
            <h3 class="text-xl">Hello <%= user %></h3>
            <div class="*:w-full grid grid-cols-1 md:grid-cols-3 gap-1 items-center">
                <img src="/api/members/randomPhoto/0" alt="" id="photo" class="photo" />
                <img src="/api/members/randomPhoto/1" alt="" id="photo" class="photo" />
                <img src="/api/members/randomPhoto/2" alt="" id="photo" class="photo" />
            </div>
        </main>

        <%- include("partials/footer") %>
    </body>
</html>
