<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <main class="max-w-xl mx-auto my-12 *:px-4">
            <div class="py-12 border rounded *:not-last:mb-8">
                <h1 class="text-4xl">Create an account for Sam's Website</h1>

                <form action="/api/register" method="post" class="*:not-last:mb-4">
                    <div class="*:block *:w-full">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="p-2 border rounded" />
                    </div>

                    <div class="*:block *:w-full">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="p-2 border rounded" />
                    </div>

                    <button type="submit" class="p-2 border rounded w-full cursor-pointer">
                        Create account
                    </button>
                </form>

                <nav class="w-min *:block *:min-w-max">
                    <a href="/login">
                        <img src="/icons/sign-in.svg" alt="" class="inline-block" />
                        <span class="align-middle text-teal-500 underline underline-offset-2">
                            I already have an account!
                        </span>
                    </a>
                    <a href="/">
                        <img src="/icons/home.svg" alt="" class="inline-block" />
                        <span class="align-middle text-teal-500 underline underline-offset-2">
                            Home
                        </span>
                    </a>
                </nav>
            </div>
        </main>
    </body>
</html>
